/* -------------JOIN US------------- */

.join-us {
  margin-left: 70px;
}

.join-us__title {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: getColor('third-text-color');
}
