/* -------------PORTFOLIO------------- */

.our-projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.our-projects__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.our-projects__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: getColor('first-title-color');
}

.our-projects__text {
  font-weight: 400;
  line-height: 1.875;
  color: getColor('first-text-color');
}

.our-projects__text-wrap {
  padding: 20px 24px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.our-projects__link {
  display: block;
  transition: box-shadow var(--animation-duration) var(--animation-timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.our-projects__overlay {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  height: 100%;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);

  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform var(--animation-duration) var(--animation-timing-function);

  .our-projects__link:hover &,
  .our-projects__link:focus & {
    transform: translateY(0);
  }
}
.our-projects__link-wrap {
  position: relative;
  overflow: hidden;
}
