/* -------------HEADER------------- */

.page-header {
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}
.page-header__сontainer {
  display: flex;
}
.page-header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
}
.page-header__site-nav {
  margin-left: 93px;
}

.page-header__contacts {
  margin-left: auto;
}
